locals {
  upstream_count = 3
  ami            = "ami-0c544bda9765444c2"
  type           = "c4.xlarge"
  name_tag       = "My EC2 Instance"
  ssh_key        = "ssh-rsa AAAAB3Nz...diqs8lGQ== michael"
}

output "rancher_url" {
  value        = https://aws_instance.upstream_controlplane.[0].public_ip.sslip.io
}
#output "public_ip" {
#  value       = aws_instance.upstream_controlplane.*.public_ip
#  description = "Public IP Address of EC2 instance"
#}

#output "instance_id" {
#  value       = aws_instance.upstream_controlplane.*.id
#  description = "Instance ID"
#}
