locals {
  availability_zone = "us-east-1b"
  upstream_count = 3
  downstream_control_count = 1
  downstream_worker_count = 1
  downstream_k8s           = "v1.23.16+rke2r1"
  upstream_rke2_version    = "v1.23"
  cert_manager_version     = "v1.7.1"
  rancher_version          = "2.7.2"
  ami            = "ami-0c544bda9765444c2"
  type           = "c4.xlarge"
  name_tag       = "put your name here" # No spaces
  bootstrap_password = "put something here"
  rancher_password = "put something else here"
  ssh_key        = "ssh-rsa AAAAB3Nz...diqs8lGQ== michael"
}

output "rancher_url" {
  value = "https://${aws_elb.lb.dns_name}"
}

output "rancher_user" {
  value = "admin"
}

output "rancher_password" {
  value = local.rancher_password
}

output "upstream-ssh" {
  description = "Public IP Address of upstream instances"
  value       = [ for node in aws_instance.upstream_controlplane.*.public_ip: "ssh ec2-user@${node}" ]
}

output "downstream-cp-ssh" {
  description = "Public IP Address of downstream controlplane"
  value       = [ for node in aws_instance.downstream_controlplane.*.public_ip: "ssh ec2-user@${node}" ]
}

output "downstream-worker-ssh" {
  description = "Public IP Address of downstream workers"
  value       = [ for node in aws_instance.downstream_workers.*.public_ip: "ssh ec2-user@${node}" ]
}
